<div id="devise_header">
  <% if current_user.present? %>
    <% if current_user.admin? %>
      <span>Signed in as <%= link_to display_username(current_user), admin_path %>
    <% else %>
      <span>Signed in as <%= display_username(current_user) %>
    <% end %>
    <span>-</span>
    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "a-like", form_class: "inline" %>
  <% else %>
    <% if Calagator.open_registration %>
      <%= link_to "Sign Up", new_user_registration_path %>
      <span>or</span>
    <% end %>
    <%= link_to "Log In", new_user_session_path %>
  <% end %>
</div>